body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

body img{
  padding: 70px;
}


.rotate {
    animation: rotation 8s infinite linear;
    animation-delay: 2s;
  }

  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }
